<div id="single-content">
    <div class="agensy_info clearfix">
        <div class="agensy_big_logo">
            <img style="cursor:pointer; width: 160px;  height: 160px;" src="{{this_agency.image}}">
        </div>
        <div class="agensy_contact">
            <span class="agensy_name">{{this_agency.name_of_entity}}</span><br>
            <span class="agensy_site"><a href="{{this_agency.domain}}">{{this_agency.domain}}</a></span><br>
            <span class="agensy_adress">{{this_agency.post_code}},{{this_agency.region}},{{this_agency.street}}, {{this_agency.house_number_body}}, {{this_agency.office_number_room_apartment}}</span><br>
            <div class="agensy_phone">
                <span>{{this_agency.contact_phone}}</span>
            </div><br>
            <div class="agensy_email">
                <span>{{this_agency.email}}</span>
            </div>
        </div>
        <div class="agensy_about_info">
            <span>О компании</span><br>
            <span>{{this_agency.description}}</span>
        </div>
    </div>
</div>