{% load filters %}
{% if main_page == True %}
	<div id="bottom-content">
	    <div id="header-title">
	    {% if modify_text %}
	        <h1 style="margin-bottom: 20px;">{{new_title|translate_to_ru2}}</h1>	    
	    {% else %}
	        <h1>НЕДВИЖИМОСТЬ</h1>
	    {% endif %}
	        <h2>ПО ВСЕЙ БЕЛАРУСИ</h2>

	        <p style="width:560px;margin-top:10px">
			Цель проекта Domvam.by – это позволить вам максимально удобно и быстро найти и предложить квартиру для аренды или продажи, покупки или обмена в Минске и во всех областных городах Беларуси. Удобный фильтр для соискателей поможет отсортировать только интересующие вас квартиры для продажи и аренды по количеству комнат, наличию мебели, предоплаты и т.д. Благодаря ежедневной актуализации нашей базы вы сможете всегда найти приемлемый для вас вариант, а умная система предложит вам наилучшие объекты недвижимости, основываясь на ваших запросах, оповестит по почте при добавлении новых, оставляя только интересующие вас варианты. Наш портал поможет принять правильное решение в поиске недвижимости.</p>
	    </div>
	    {% include "map.html" %}
	</div>
{% endif %}